.section{
    display: flex;
    flex-direction: row;
   align-items: center;
}
a:hover{
   color: grey; 
}
a:visited{
    color: white;
    font-family: Calibri;
    border: 0px;
}

input[type='button']{
    padding: 10px 10px;
    color: white;
    background-color:orange;
    font-family:  Calibri;
    font-weight: bold;
    border: 0px;
    border-radius: 15px;
   /* flex-grow: 15;*/
}


body{
    background-color:rgb(70, 41, 234);
    height: 75vmax; 
}
h2{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
p{
    color:rgb(249, 224, 249);
}
